.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "title title"
}

.title {
  grid-are: title;
}

.header {
  font-family: 'Righteous', cursive;
}
