*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #fff0f5;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  ". title image ."
  "about_me about_me about_me about_me";
}

.title {
  grid-area: title;
}

.header {
  grid-area: header;
  font-family: 'Righteous', cursive;
  font-size: 100px;
}

.image {
  grid-area: image;
}

.subtext {
  font-family: 'Righteous', cursive;
  font-size: 30px;
}

.about_me {
  grid-area: about_me;
  background-color: #fff0f5;
}
